.header {
    background: var(--white);
    padding: 0 16px;
}

.header__top {
    height: 64px;
    display: flex;
}

.header__bottom {
    margin-top: 32px;
    margin-bottom: 69px;
}

.header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}

.header__left {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
}

.header__icon {
    height: 32px;
    width: 32px;
}

.header_secondary {
    background: var(--grey-bg);
}

@media screen and (min-width: 768px) {
    .header__top {
        height: 82px;
    }

    .header__bottom {
        margin-bottom: 77px;
    }

    .header__title {
        font-size: 50px;
        line-height: 64px;
        color: var(--black);
        font-style: normal;
        font-weight: 500;
    }
}

