.sidebar {
    display: none;
    font-family: 'Inter', sans-serif;
}

.sidebar__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black-1);
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .sidebar {
        display: block;
    }
}

