.card {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    text-align: center;
    padding: 80px 24px 30px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__name {
    font-family: Roboto, sans-serif;
    font-weight: var(--fw-md);
    font-size: var(--fz-md);
    line-height: 25px;
    text-align: center;
    color: var(--black);
}