.modal {
    display: none;
    font-family: 'Inter', sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 36, 36, 0.5);
}

.modal__content {
    background: var(--white);
    border-radius: 8px;
    position: absolute;
    padding: 30px 40px 33px 40px;
    max-width: 428px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-2);
    margin-bottom: 14px;
}

.modal__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal__close {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}