.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
    width: 100%;
    font-style: normal;
    font-family: Inter, sans-serif;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    font-size: var(--fz-sm);
    line-height: var(--lh-sm);
    font-weight: var(--fw-sm);
    color: var(--black);
    opacity: 0.8;
    margin-top: 3px;
}

.histogram__link {
    font-size: var(--fz-sm);
    line-height: var(--lh-sm);
    font-weight: var(--fw-sm);
    text-align: right;
    color: var(--blue);
}

.histogram__counter {
    font-size: var(--fz-md);
    line-height: var(--lh-md);
    font-weight: var(--fw-sm);
    color: var(--black);
    margin-bottom: 39px;
    margin-top: 6px;
}

.histogram__columns {
    display: flex;
    height: 50px;
    gap: 1px;
    align-items: flex-end;
}

.histogram__column {
    flex-grow: 1;
    background: var(--blue);
}
