.main {
    background: var(--white);
}

.main_secondary {
    font-family: 'Inter', sans-serif;
    background: var(--grey-bg);
}

.main__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.main__content {
    background: var(--grey-bg);
    padding: 23px 15px 23px 15px;
}

@media screen and (min-width: 768px){
    .main__content {
        background: var(--grey-bg);
        padding: 68px 0;
    }

    .main__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
}