.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container_grid {
        display: grid;
        grid-template-columns: 229px 825px;
        gap: 56px;
        padding-top: 36px;
    }
}