@import '../../node_modules/modern-normalize/modern-normalize.css';
@import '../fonts/fonts.css';
@import "../../components/container/container.css";
@import "../../components/header/header.css";
@import "../../components/main/main.css";
@import "../../components/footer/footer.css";
@import "../../components/page/page.css";
@import "../../components/card/card.css";
@import "../../components/histogram/histogram.css";
@import "../../components/button/button.css";
@import "../../components/sidebar/sidebar.css";
@import "../../components/component/component.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --black-1: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --blue: #4263EB;
    --blue-1: #2342C0;
    --blue-2: #334D6E;
    --blue-3: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #90A0B7;
    --grey-bg: #F9FAFC;
    --orange: #D84910;

    --fz-sm: 16px;
    --fz-md: 20px;

    --fw-sm: 400;
    --fw-md: 500;

    --lh-sm: 24px;
    --lh-md: 26px;

    --arrow-border-width: 10px;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-dark: var(--blue-1);

    --secondary: var(--purple);
    --secondary-dark: var(--purple-2);
}

body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}