.tooltip {
    display: inline-block;
    position: relative;
    font-style: normal;
    font-family: 'Inter', sans-serif;
}

.tooltip__trigger {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.tooltip__bubble {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: var(--blue);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    width: 129px;
    color: var(--grey-2);
    padding: 13px 21px;
    position: absolute;
    bottom: calc(100% + (var(--arrow-border-width) + 3px));
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.tooltip__bubble:after {
    content: '';
    border: var(--arrow-border-width) solid transparent;
    border-top-color: var(--blue);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}